In [9]:
#1both have the same functionality. A bit difference is the idea behind. OrdinalEncoder is for converting features, while LabelEncoder is for converting target variable.

#That's why OrdinalEncoder can fit data that has the shape of (n_samples, n_features) while LabelEncoder can only fit data that has the shape of (n_samples,) (though in the past one used LabelEncoder within the loop to handle what has been becoming the job of OrdinalEncoder now)

In [ ]:
#2arget encoding involves replacing a categorical feature with average target value of all data points belonging to the category. For instance, Seattle can be replaced with average of salary (target variable) of all datapoints where city is Seattle.

In [10]:
'''import pandas as pd;
data = [['Salt Lake City', 10, 120], ['Seattle', 5, 120], ['San Franscisco', 5, 140], 
        ['Seattle', 3, 100], ['Seattle', 1, 70], ['San Franscisco', 2, 100],['Salt Lake City', 1, 60], 
        ['San Franscisco', 2, 110], ['Seattle', 4, 100],['Salt Lake City', 2, 70] ]
df = pd.DataFrame(data, columns = ['City', 'Years OF Exp','Yearly Salary in Thousands'])
df'''

"import pandas as pd;\ndata = [['Salt Lake City', 10, 120], ['Seattle', 5, 120], ['San Franscisco', 5, 140], \n        ['Seattle', 3, 100], ['Seattle', 1, 70], ['San Franscisco', 2, 100],['Salt Lake City', 1, 60], \n        ['San Franscisco', 2, 110], ['Seattle', 4, 100],['Salt Lake City', 2, 70] ]\ndf = pd.DataFrame(data, columns = ['City', 'Years OF Exp','Yearly Salary in Thousands'])\ndf"

In [11]:
#3Covariance is a measure of how much two random variables vary together. It’s similar to variance, but where variance tells you how a single variable varies, co variance tells you how two variables vary together. large covariance can mean a strong relationship between variables. However, you can’t compare variances over data sets with different scales (like pounds and inches). A weak covariance in one data set may be a strong one in a different data set with different scales.

#The main problem with interpretation is that the wide range of results that it takes on makes it hard to interpret. For example, your data set could return a value of 3, or 3,000. This wide range of values is cause by a simple fact; The larger the X and Y values, the larger the covariance. A value of 300 tells us that the variables are correlated, but unlike the correlation coefficient, that number doesn’t tell us exactly how strong that relationship is. The problem can be fixed by dividing the covariance by the standard deviation to get the correlation coefficient.
#Corr(X,Y) = Cov(X,Y) / σXσY The Correlation Coefficient has several advantages over covariance for determining strengths of relationships:

#Covariance can take on practically any number while a correlation is limited: -1 to +1.
#Because of it’s numerical limitations, correlation is more useful for determining how strong the relationship is between the two variables.
#Correlation does not have units. Covariance always has units
#Correlation isn’t affected by changes in the center (i.e. mean) or scale of the variables

In [1]:
#4
import pandas as pd

In [5]:
df =pd.DataFrame({'color':['red','green','blue'],
             'size':['small','medium','large'],
             'material':['wood','metal','plastic']})

In [3]:
from sklearn.preprocessing import LabelEncoder

In [4]:
encoder=LabelEncoder()

In [8]:
encoder.fit_transform(df[['color']])

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 1, 0])

In [12]:
# 5

In [29]:
df1 = pd.DataFrame({'Age':[33,44,22],
                  'Income':[100000,150000,50000],
                  'Education':['master','phd','graduation',]})

In [31]:
df.cov()

/tmp/ipykernel_1206/1545644723.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.cov()

             Age        Income
Age        121.0  5.500000e+05
Income  550000.0  2.500000e+09

In [38]:
df1 = pd.DataFrame({'gender':['male','female']})

In [39]:
from sklearn.preprocessing import LabelEncoder

In [40]:
endcoded = LabelEncoder()

In [42]:
encoder1 = endcoded.fit_transform(df1)

In [36]:
df2 = pd.DataFrame({'education level':['High school','Bachelor','master']})

In [44]:
encoder2 = endcoded.fit_transform(df2)

In [37]:
df3 = pd.DataFrame({ 'employment status':['umemployment','part time','full time']})

In [53]:
encoder3=endcoded.fit_transform(df3)

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [54]:
# 7

In [63]:
df1 =pd.DataFrame({'continous_var':['Temperature','Humidity']
    })

In [64]:
df2 = pd.DataFrame({ 'weather_condition':['sunny','cloudy','rainy']})

In [65]:
df3 = pd.DataFrame({'wind_direction':['north','south','east','west']})

In [69]:
import numpy as np

In [73]:
np.cov(
      )

TypeError: _cov_dispatcher() missing 1 required positional argument: 'm'

In [75]:
df1.cov

<bound method DataFrame.cov of   continous_var
0   Temperature
1      Humidity>

In [76]:
df2.cov()

/tmp/ipykernel_1206/3825087732.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2.cov()

Empty DataFrame
Columns: []
Index: []